{% render 'partials/head.liquid' %}

<header>
  <nav>
    <ul>
      <li><a href=""><img src="/fdnd-logo.png" alt=""></a></li>
      <li><a href="">Notivicaties</a></li>
    </ul>
  </nav>
</header>

<section class="overview">
  <ul>
    {% for person in persons %}
      <li class="card">
        <img src="{% if person.avatar %}{{ person.avatar }}{% else %}/missing-avatar.png{% endif %}" alt="">

        <a href="/student/{{ person.id }}">{{ person.name }}</a>
      </li>
    {% endfor %}
  </ul>
</section>


{% render 'partials/foot.liquid', squads: squads %}