/**/
@font-face {
    font-family: 'Milker';
    src: url('/milker.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('/quicksand.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    background-color: var(--c-bg);
}

ul,
ol {
    list-style: none; 
}
a {
  text-decoration: none;
  color: inherit; 
}

:root{
    /* Basiskleuren */
    --c-bg: #0D1117;
    --c-text: #E9D7D7;
    --c-moss: #6F8561;
    --c-deepsea: #053947;
    --c-tealwave: #226959;
    --c-sunset: #F49843;
    --c-amberglow:#E04900;
    --c-flame: #9E1131;
}
/* Thema kleuren */
.theme-1 {
    background-color: var(--c-deepsea); 
    color: var(--c-moss);               
}

.theme-2 {
    background-color: var(--c-tealwave);
    color: var(--c-deepsea);
}

.theme-3 {
    background-color: var(--c-moss);
    color: var(--c-tealwave);
}

.theme-4 {
    background-color: var(--c-amberglow);
    color: var(--c-sunset);
}

.theme-5 {
    background-color: var(--c-flame);
    color: var(--c-amberglow);
}

/* Typografie */
body{
    font-family: 'quicksand', sans-serif;
    line-height: 1.5;
}
h1{
    font-family: 'Milker', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: var(--c-text);
}

h2{
    font-family: 'Milker', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
    @media (min-width:800px) {
        font-size: clamp(1rem, 1.6vw, 1.6rem);
    }
}


/*grid*/
main{
    width: 90%;
    margin: auto;
    @media (min-width:800px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 4rem 2rem;
    } 
}

/*styling title*/
h1{
    text-align: center;
    padding: 2rem;
    
    @media (min-width:800px) {
        grid-column: 1 / 4;
        background-color:var(--c-text);
        color: var(--c-bg);
        box-shadow: black 5px 5px 10px;
        border-radius: 1.5rem;  
    }
}
/*styling sort*/
.sorteer{
    padding: 2rem;
    box-shadow: black 5px 5px 10px;
    border-radius: 1.5rem;
    background-color: var(--c-text);
    margin-bottom: 1rem;
    a{
        border: 1px solid var(--c-deepsea);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    p{
        padding-top: 1rem;
    }
    @media (min-width:800px) {
        grid-column: 4 / 5;
        background-color: var(--c-moss);
    }
}
/*styling filter*/
.filter{
    background-color: var(--c-text);
    padding: 2rem;
    box-shadow: black 5px 5px 10px;
    border-radius: 1.5rem;
    
    a{
        border: 1px solid var(--c-deepsea);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    p{
        padding-top: 1rem;
    }
    @media (min-width:800px) {
        grid-column: 1 / 2;
        background-color: var(--c-moss); 
    }
}
/*styling overzicht*/

ul{
    grid-column: 2 / 5;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2rem auto;
    width: 100%;

    @media (min-width:800px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 0;
        
    }
}
.card details{
    summary{
        display: flex;
        justify-content: space-between;
        align-items: center;
        backface-visibility: visible;
        transition: .2s ease-out;
        position: relative;
        .card-back{
            position: absolute;
        }
    }
     @media (min-width:800px) {
        
     }

}


.card{
    border-radius: 1.5rem 1.5rem 0 0;
    margin: -0.6rem;
    padding: 1rem 1.5rem;
    border: solid 0.3rem #000000;
    box-shadow: black 5px 5px 10px;

    figure{
        width: 4rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border: 0.3rem solid var(--c-bg);

        img{
            width: 180%;
            height: 180%;
            object-fit: cover;
        }
    }

    @media (min-width:800px) {
        position: relative;
        aspect-ratio: 1 / 1 ;
        margin: 0;
        border-radius: 1.5rem;
        border: none;
        overflow: hidden;    
        figure{
            position: absolute;
            top: 8rem;
            right: -0.5rem;
        }
    }
}