/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none; 
}

a {
  text-decoration: none;
  color: inherit; 
}

/*styling header*/


header{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 2em;
    margin-bottom: 5rem;
    ul{
        display: flex;
        justify-content: space-between;
        img{
            height: 5rem;
           
        }
    }
}

.overview{
    margin: 0 auto;
    width: 90rem;
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 2rem;
        .card{
            aspect-ratio: 1 / 1;
            width: 20rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
