/**/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: aqua;
}

ul,
ol {
  list-style: none; 
}

a {
  text-decoration: none;
  color: inherit; 
}


/*styling header*/


header{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 2em;
    margin-bottom: 5rem;
    ul{
        display: flex;
        justify-content: space-between;
        img{
            height: 5rem;
           
        }
    }
}

.overview{
    margin: 0 auto;
    width: 90rem;
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 2rem;
        .card{
            width: 20rem;
            overflow: hidden;
            figure{
                aspect-ratio: 1 / 1;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .emoji-container{
                    border-radius: 50%;
                    border: solid 0.5rem white;
                    background-color: black;
                    width: 4rem;
                    aspect-ratio: 1 / 1;
                    position: absolute;
                    right: 1rem;
                    bottom: -2rem;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            .card-text{
                aspect-ratio: 18 / 6;
                font-size: 1.5rem;
                font-weight: bold;
                padding-top: 1rem;
                p{
                    font-size: 1.1rem;
                    font-weight: lighter;
                    padding-top: 0.5rem;
                }
            }
        }
    }
}
