/**/
@font-face {
    font-family: 'Milker';
    src: url('/milker.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    font-family: 'Space Grotesk', sans-serif;
}

ul,
ol {
    list-style: none; 
}
/*a {
  text-decoration: none;
  color: inherit; 
}*/

:root{
    /* Basiskleuren */
    --c-bg: #141313;
    --c-moss: #6F8561;
    --c-deepsea: #053947;
    --c-tealwave: #226959;
    --c-sunset: #F49843;
    --c-amberglow:#E04900;
    --c-flame: #9E1131;
}
/* Thema kleuren */
.theme-1 {
    background-color: var(--c-deepsea); 
    color: var(--c-moss);               
}

.theme-2 {
    background-color: var(--c-tealwave);
    color: var(--c-deepsea);
}

.theme-3 {
    background-color: var(--c-moss);
    color: var(--c-tealwave);
}

.theme-4 {
    background-color: var(--c-amberglow);
    color: var(--c-sunset);
}

.theme-5 {
    background-color: var(--c-flame);
    color: var(--c-amberglow);
}

/* Typografie */
h2{
    font-family: 'Milker', sans-serif;
    font-weight: bold;
}


/*styling header*/


header{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 2em;
    margin-bottom: 5rem;
    ul{
        display: flex;
        justify-content: space-between;
        img{
            height: 5rem;
           
        }
    }
}

.overview{
    margin: 0 auto;
    width: 90rem;
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 2rem;
        .card{
            width: 20rem;
            overflow: hidden;
            figure{
                aspect-ratio: 1 / 1;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .emoji-container{
                    border-radius: 50%;
                    border: solid 0.5rem white;
                    background-color: black;
                    width: 4rem;
                    aspect-ratio: 1 / 1;
                    position: absolute;
                    right: 1rem;
                    bottom: -2rem;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
            
            
    .card-text{
        aspect-ratio: 18 / 6;
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1rem;
        p{
            font-size: 1.1rem;
            font-weight: lighter;
            padding-top: 0.5rem;
        }
    }
}
.card-back{
}
